/* #region main.html csss*/


body  {
	background-color:  white;
}
.tabs { 
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;   
} 

.tabs img {
  height:50px;
  width:auto;
}
.tabs label { 
  width:16.66666%; 
  order: 1; 
  display: flex; 
  padding:10px 0px; 
  justify-content : center;
  align-items: center; 
  cursor: pointer; 
  background: white; 
  font-weight: bold; 
  transition: background ease 0.2s; 
	
} 
/*박스배경*/ 
.tabs .tab { 
  order: 99; 
  flex-grow: 1; 
  width: 100%; 
  display: none; 
  padding: 1rem; 
  background: #92B6D5; 
} 

.tabs .tab > .name-wrapper {
  width:98%;
  display:flex;
  flex-wrap:wrap;
  
} 
.tabs .tab > .name-wrapper > .name {
  width:80px;
  padding:10px;
 
} 

.tabs input[type="radio"] { 
  display: none; 
} 
/*탭 눌렀을때 컬러*/ 
/* 더불어민주당 */
.tabs input[type="radio"][id="tabone"]:checked + label + .tab { 
  background:rgb(114, 114, 255); 
} 
.tabs input[type="radio"][id="tabone"]:checked + label { 
  background:rgb(114, 114, 255); 
} 
/* 미래통합당 */
.tabs input[type="radio"][id="tabtwo"]:checked + label + .tab { 
  background: rgb(255, 152, 152); 
} 
.tabs input[type="radio"][id="tabtwo"]:checked + label { 
  background:rgb(255, 152, 152); 
} 
/* 정의당 */
.tabs input[type="radio"][id="tabthree"]:checked + label + .tab { 
  background: yellow; 
} 
.tabs input[type="radio"][id="tabthree"]:checked + label { 
  background:yellow; 
} 
/* 국민의 당 */
.tabs input[type="radio"][id="tabfour"]:checked + label + .tab { 
  background: green; 
} 
.tabs input[type="radio"][id="tabfour"]:checked + label { 
  background:green; 
} 
/* 기타정당 */
.tabs input[type="radio"][id="tabfive"]:checked + label + .tab { 
  background: #92B6D5; 
} 
.tabs input[type="radio"][id="tabfive"]:checked + label { 
  background:#92B6D5; 
} 
/* 무소속 */
.tabs input[type="radio"][id="tabsix"]:checked + label + .tab { 
  background: #92B6D5; 
} 
.tabs input[type="radio"][id="tabsix"]:checked + label { 
  background:#92B6D5; 
} 
.tabs input[type="radio"]:checked + label + .tab { 
  display: block; 
}

a:hover {
  color: blue;
}

a {
  font-size : 20px;
  color: black;
  text-decoration: none;
}

.contents {
  min-height: 500px;
  padding-bottom: 50px;
}

.nassem_top_btn {
  text-align: right;
  margin: 10px 0 -15px 0;
}

.theme_select_box {
  overflow: hidden;
  margin: 25px 0 0 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

colgroup {
  display: table-column-group;
}


table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 2px;
  border-color: grey;
}

.theme_select_box table th {
  font-family: "notoKrM";
  width: 20%;
  text-align: center;
  color: #111111;
  background: #f2f5f8;
  padding: 8px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.theme_select_box table td {
  width: 30%;
  height: 50px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 8px;
}

.theme_select_box table td > select {
  width: 100%;
}

.container.hide-pc-lnb {
  padding-left: 0;
  width: 100%;
  max-width: 1200px;
}
.container {
  position: relative;
  padding-left:50px;
  padding-right:50px;
  margin: 0 auto;
}

.btn_inquiries {
  font-family: "notoKrL";
  display: inline-block;
  height: 33px;
  line-height: 33px;
  width: 88px;
  background: #003b87;
  color: #ffffff;
  text-align: center;
}

.btn_checkchart {
  font-family: "notoKrL";
  display: inline-block;
  height: 33px;
  line-height: 33px;
  width: 88px;
  background: #0091a3;
  color: #ffffff;
  text-align: center;
}


.btn_group ul {
  display: flex;
  margin: 10px 0 0 0;
}

.btn_group {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

.themeB table th {
  font-family: "notoKrM";
  background: #f2f5f8;
  border-top: 2px solid #001732;
  height: 48px;
  border-bottom: 1px solid #e4e4e4;
  color: #111111;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.themeB table td {
  padding: 14px 8px;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}
/* #endregion */


/* #region POLITICIAN.HTML CSS */


.middle-header {
	width:100%;
	display: flex;
	justify-content: space-around;

}

/*politician 프로필 카드 */


.demo-card-wide.mdl-card.profile[id="더불어민주당"] {
	width: 30%;
	height: 100%;	
	
  background-color : rgb(114, 114, 255); 
}

.demo-card-wide.mdl-card.profile[id="미래통합당"] {
	width: 30%;
	height: 100%;	
	
  background-color : rgb(255, 152, 152); 
}

.demo-card-wide.mdl-card.profile[id="정의당"] {
	width: 30%;
	height: 100%;	
	
  background-color : yellow; 
}

.demo-card-wide.mdl-card.profile[id="국민의당"] {
	width: 30%;
	height: 100%;	
	
  background-color : green;
}

.demo-card-wide.mdl-card.profile {
	width: 30%;
	height: 100%;	
	
  background-color : #92B6D5; 
}


.demo-card-wide > .mdl-card__title {
	display:flex;
	justify-content:center;
	/* background: url('../assets/demos/welcome_card.jpg') center / cover; */
	border: solid 1px #dbdbdb;
}

.demo-card-wide > .mdl-card__photo {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.demo-card-wide > .mdl-card__supporting-text {
	width: 100%;
	display: flex;
	justify-content: center;
	padding:0;
	margin-left:-2px;
}

.demo-card-wide > .mdl-card__supporting-text table {
	width: 100%;
	font-size:20px;
	
}


.demo-card-wide > .mdl-card__supporting-text table tr{
	width: 100%;
  min-height: 50px;
  height: auto;
	display: flex;
	justify-content: space-between;
	
}


.demo-card-wide > .mdl-card__supporting-text table td{
	min-height: 100%;
	display: flex;
  align-items: center;
  
	border: solid 1px #dbdbdb;
	
}

.demo-card-wide > .mdl-card__supporting-text .category {
	width:30%;
	color: white;
	background-color: rgb(25, 8, 177); 
	
}

.demo-card-wide > .mdl-card__supporting-text .content {
  width:70%;
  min-height:100%;
	color: black;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.popup span{
  height:auto;
  font-size: 14px;
}

#test .vote {
  width:100%;
  display:flex;
  justify-content: space-evenly;
}

/* politician 페이지 목차 */

.middle-header > .table-of-contents {
	width: 20%;
	height:100%;
	margin-top: 20px;
	padding:10px;
	background-color:lightskyblue;
	display:flex;
	flex-direction: column;
  align-items:flex-start;
  
}

.middle-header > .table-of-contents > .title {
	font-size: 20px;
}

.middle-header > .table-of-contents > .content {
	font-size: 15px;
	display: flex;
	flex-direction : column;
	margin-top: 5px;
}

.middle-header > .table-of-contents > .content > .large-number{
	font-size: 15px;
	
}

.middle-header > .table-of-contents > .content > .small-number {
	font-size: 15px;
	padding-left: 15px;
	
}

/* polition.html normalFeed css */

.demo-card-wide.mdl-card.normal-feed {
	width: 95%;
	height: auto;
	margin-top:40px;
  margin-left: 20px;
  margin-bottom: 40px;
}

/* #endregion */

/* #region debate.html css */

.comment-box {
  width: 90%;
  height: auto;
  position: relative;
  left:5%;
  top: 5%;

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;

  border: solid 1px #dbdbdb;
}

.comment-box > .card-comment {
  width:90%;
  margin:auto;
  border: solid 1px red;
}

.comment-box > .card-comment > .text {
  display: flex;
  flex-direction: column;
  width:100%;
}

.comment-box > .card-comment > .text > .comment-info {
  text-align : right;
  
}

.comment-box > .card-comment > .ctc-box {
  width:100%;
  text-align : right;
}

.mdl-textfield.mdl-js-textfield > button  {
	margin-left:  260px;
}

form {
  display : inline;  
}

.mdl-button > i {
  vertical-align:-25%;
}

.new-comment-wrapper {
  display:flex;
  justify-content: flex-end;
}

/* #endregion */