body  {
	background-color:  white;
}
.tabs { 
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;   
} 
.tabs label { 
  width:16.6%; 
  order: 1; 
  display: block; 
  padding:10px 0px; 
  text-align:center; 
  cursor: pointer; 
  background: #838487; 
  font-weight: bold; 
  transition: background ease 0.2s; 

} 
/*박스배경*/ 
.tabs .tab { 
  order: 99; 
  flex-grow: 1; 
  width: 100%; 
  display: none; 
  padding: 1rem; 
  background: #92B6D5; 
} 
.tabs input[type="radio"] { 
  display: none; 
} 
/*탭 눌렀을때 컬러*/ 
.tabs input[type="radio"]:checked + label { 
  background: #92B6D5; 
} 
.tabs input[type="radio"]:checked + label + .tab { 
  display: block; 
}

.contents {
  min-height: 500px;
  padding-bottom: 50px;
}

.nassem_top_btn {
  text-align: right;
  margin: 10px 0 -15px 0;
}

.theme_select_box {
  overflow: hidden;
  margin: 25px 0 0 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

colgroup {
  display: table-column-group;
}


table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  border-spacing: 2px;
  border-color: grey;
}

.theme_select_box table th {
  font-family: "notoKrM";
  width: 20%;
  text-align: center;
  color: #111111;
  background: #f2f5f8;
  padding: 8px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}

.theme_select_box table td {
  width: 30%;
  height: 50px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 8px;
}

.theme_select_box table td > select {
  width: 100%;
}

.container.hide-pc-lnb {
  padding-left: 0;
  width: 100%;
  max-width: 1200px;
}

.btn_inquiries {
  font-family: "notoKrL";
  display: inline-block;
  height: 33px;
  line-height: 33px;
  width: 88px;
  background: #003b87;
  color: #ffffff;
  text-align: center;
}

.btn_checkchart {
  font-family: "notoKrL";
  display: inline-block;
  height: 33px;
  line-height: 33px;
  width: 88px;
  background: #0091a3;
  color: #ffffff;
  text-align: center;
}


.btn_group ul {
  display: flex;
  margin: 10px 0 0 0;
}

.btn_group {
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

.themeB table th {
  font-family: "notoKrM";
  background: #f2f5f8;
  border-top: 2px solid #001732;
  height: 48px;
  border-bottom: 1px solid #e4e4e4;
  color: #111111;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.themeB table td {
  padding: 14px 8px;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}