{% extends 'base.html' %}

{% block content %}
<div class="tabs">    
    <input type="radio" name="tabs" id="tabone" checked="checked">     
    <label for="tabone"><img src = '../media/더불어민주당.png'></label> 
    <div class="tab"> 
      <h3 style="color:white;">더불어민주당 소속 의원</h3>  
      <div class = "name-wrapper">  
        {% for dang in politician_chosung.0 %}
          {% for chosung in chosung_list %}
            {% if dang and forloop.counter == forloop.parentloop.counter %}
              <div style="color:white;">
                <h2>{{ chosung }} </h2>
                <div >
                  {% for politician in dang|dictsort:"hg_name" %}
                    <a href="/feeds/politician/{{ politician.id }}/" style="color:white;">{{ politician.hg_name }}</a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}          
        {% endfor %}
      </div> 
    </div>        
    <input type="radio" name="tabs" id="tabtwo">     
    <label for="tabtwo"><img src = '../media/미래통합당.png'></label> 
    <div class="tab"> 
      <h3>미래통합당 소속 의원</h3>
      <div class = "name-wrapper">  
        {% for dang in politician_chosung.1 %}
          {% for chosung in chosung_list %}
            {% if dang and forloop.counter == forloop.parentloop.counter %}
              <div>
                <h2>{{ chosung }} </h2>
                <div>
                  {% for politician in dang|dictsort:"hg_name" %}
                    <a href="/feeds/politician/{{ politician.id }}/">{{ politician.hg_name }}</a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}          
        {% endfor %}
      </div>  
    </div>
    <input type="radio" name="tabs" id="tabthree">     
    <label for="tabthree"><img src = '../media/정의당.png'></label> 
    <div class="tab"> 
      <h3>정의당 소속 의원</h3>
      <div class = "name-wrapper">  
        {% for dang in politician_chosung.2 %}
          {% for chosung in chosung_list %}
            {% if dang and forloop.counter == forloop.parentloop.counter %}
              <div>
                <h2>{{ chosung }} </h2>
                <div>
                  {% for politician in dang|dictsort:"hg_name" %}
                    <a href="/feeds/politician/{{ politician.id }}/">{{ politician.hg_name }}</a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}          
        {% endfor %}
      </div> 
    </div>
    <input type="radio" name="tabs" id="tabfour"> 
    <label for="tabfour"><img src = '../media/국민의당.jpg'></label> 
    <div class="tab"> 
      <h3>국민의당 소속 의원</h3>
      <div class = "name-wrapper">  
        {% for dang in politician_chosung.3 %}
          {% for chosung in chosung_list %}
            {% if dang and forloop.counter == forloop.parentloop.counter %}
              <div>
                <h2>{{ chosung }} </h2>
                <div>
                  {% for politician in dang|dictsort:"hg_name" %}
                    <a href="/feeds/politician/{{ politician.id }}/">{{ politician.hg_name }}</a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}          
        {% endfor %}
      </div> 
    </div>
    <input type="radio" name="tabs" id="tabfive"> 
    <label for="tabfive">기타정당</label> 
    <div class="tab"> 
      <h3>기타정당 소속 의원</h3> 
      <h5>열린민주당 소속 의원</h5>
      <div class = "name-wrapper">  
        {% for dang in politician_chosung.4 %}
          {% for chosung in chosung_list %}
            {% if dang and forloop.counter == forloop.parentloop.counter %}
              <div>
                <h2>{{ chosung }} </h2>
                <div>
                  {% for politician in dang|dictsort:"hg_name" %}
                    <a href="/feeds/politician/{{ politician.id }}/">{{ politician.hg_name }}</a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}          
        {% endfor %}
      </div> 
      <br>
      <h5>기본소득당 소속 의원</h5>
      <div class = "name-wrapper">  
        {% for dang in politician_chosung.5 %}
          {% for chosung in chosung_list %}
            {% if dang and forloop.counter == forloop.parentloop.counter %}
              <div>
                <h2>{{ chosung }} </h2>
                <div>
                  {% for politician in dang|dictsort:"hg_name" %}
                    <a href="/feeds/politician/{{ politician.id }}/">{{ politician.hg_name }}</a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}          
        {% endfor %}
      </div> 
      <br>
      <h5>시대전환 소속 의원</h5>
      <div class = "name-wrapper">  
        {% for dang in politician_chosung.6 %}
          {% for chosung in chosung_list %}
            {% if dang and forloop.counter == forloop.parentloop.counter %}
              <div>
                <h2>{{ chosung }} </h2>
                <div>
                  {% for politician in dang|dictsort:"hg_name" %}
                    <a href="/feeds/politician/{{ politician.id }}/">{{ politician.hg_name }}</a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}          
        {% endfor %}
      </div> 
    </div>
    <input type="radio" name="tabs" id="tabsix"> 
    <label for="tabsix">무소속</label> 
    <div class="tab"> 
      <h3>무소속 의원</h3>
      <div class = "name-wrapper">  
        {% for dang in politician_chosung.7 %}
          {% for chosung in chosung_list %}
            {% if dang and forloop.counter == forloop.parentloop.counter %}
              <div>
                <h2>{{ chosung }} </h2>
                <div>
                  {% for politician in dang|dictsort:"hg_name" %}
                    <a href="/feeds/politician/{{ politician.id }}/">{{ politician.hg_name }}</a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          {% endfor %}          
        {% endfor %}
      </div>  
    </div>        
</div>
{% endblock content %}