{% extends 'base.html' %}

{% block content %}
<div class="tabs"> 
    <input type="radio" name="tabs" id="tabone" checked="checked">     
    <label for="tabone">더불어민주당</label> 
      <div class="tab"> 
        <h3>더불어민주당 소속 의원</h3> 
        <a href="">강득구</a>
        <a href="">강병원</a>
        <a href="">강선우</a>
        <a href="">강준현</a>
        <a href="">강훈식</a>
        <a href="">고민정</a>
        <a href="">고영인</a>
        <a href="">고용진</a>
        <a href="">권인숙</a>
        <a href="">권칠승</a>
        <a href="">기동민</a>
        <a href="">김경만</a>
        <a href="">김경협</a>
        <a href="">김교홍</a>
        <a href="">김남국</a>
        <a href="">김두관</a>
        <a href="">김민기</a>
        <a href="">김민석</a>
        <a href="">김병기</a>
        <a href="">김병욱</a>
        <a href="">김병주</a>
        <a href="">김상희</a>
        <a href="">김성주</a>
        <a href="">김성환</a>
        <a href="">김수홍</a>
        <a href="">김승남</a>
        <a href="">김영배</a>
        <a href="">김영주</a>
        <a href="">김영진</a>
        <a href="">김영호</a>
        <a href="">김용민</a>
        <a href="">김원이</a>
        <a href="">김윤덕</a>
        <a href="">김정호</a>
        <a href="">김종민</a>
        <a href="">김주영</a>
        <a href="">김진표</a>
        <a href="">김철민</a>
        <a href="">김태년</a>
        <a href="">김한정</a>
        <a href="">김홍걸</a>
        <a href="">김희재</a>
        <a href="">남인순</a>
        <a href="">노웅래</a>
        <a href="">도종환</a>
        <a href="">맹성규</a>
        <a href="">문정복</a>

      </div>        
    <input type="radio" name="tabs" id="tabtwo">     
    <label for="tabtwo">미래통합당</label> 
      <div class="tab"> 
        <h3>미래통합당 소속 의원</h3> 
        <p>hello1</p>
      </div>
    <input type="radio" name="tabs" id="tabthree">     
    <label for="tabthree">정의당</label> 
      <div class="tab"> 
        <h3>정의당 소속 의원</h3> 
        <p>hello1</p>
      </div>
    <input type="radio" name="tabs" id="tabfour"> 
    <label for="tabfour">국민의당</label> 
      <div class="tab"> 
        <h3>국민의당 소속 의원</h3> 
        <p>hello1</p> 
      </div>
    <input type="radio" name="tabs" id="tabfive"> 
    <label for="tabfive">기타정당</label> 
      <div class="tab"> 
        <h3>기타정당 소속 의원</h3> 
        <p>hello1</p>
      </div>
    <input type="radio" name="tabs" id="tabsix"> 
    <label for="tabsix">무소속</label> 
      <div class="tab"> 
        <h3>무소속 의원</h3> 
        <p>hello1</p> 
      </div>        
</div>
{% endblock content %}