{% extends 'base.html' %}

{% block content %}
<h1> Create New SmallFeed! </h1>
<h3> for {{ politician.hg_name }}'s {{ normalFeed.get_title_display }} </h3>

<form method="POST" action="/feeds/politician/{{ politician.id }}/normalfeed/{{ normalFeed.id }}/smallfeed/create/">
    {% csrf_token %}
    제목
    <br>
    <input name="title" type="text" value="">
    <br>
    <br>
    내용
    <br>
    <body>
        <form>
            <p><textarea name="content" cols="100" rows="10"></textarea></p>
            <p><input type="submit" value="Submit!"></p>
        </form>
    </body>
</form>
{% endblock content %}