{% extends 'base.html' %}

{% block content %}
    
    <div class="middle-header">
        <div class="demo-card-wide mdl-card mdl-shadow--2dp profile">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ politician.name }}</h2>
            </div>

            <div class ="mdl-card__photo">
                {% if  politician.photo %}
                    <h>{{ politician.photo.url }}</h>
                    <img src="{{ politician.photo.url }}"  alt="" width="100%" height="100%">
                {% else %}
                    <h>사진없음</h>
                {% endif %}            
            </div>
            
            <div class="mdl-card__supporting-text">
                <table>
                    <tr>
                        <td class = "category">나이</td>
                        <td class = "content">{{ politician.age }}</td>
                    </tr>
                    <tr>
                        <td class = "category">성별</td>
                        <td class = "content">{{ politician.gender }}</td>
                    </tr>
                    <tr>
                        <td class = "category">지역구</td>
                        <td class = "content">{{ politician.district }}</td>
                    </tr>
                    <tr>
                        <td class = "category">소속당</td>
                        <td class = "content">{{ politician.politicalParty }}</td>
                    </tr>
                    <tr>
                        <td class = "category">소속 위원회</td>
                        <td class = "content">{{ politician.politicalCommittee }}</td>
                    </tr>
                    <tr>
                        <td class = "category">성향</td>
                        <td class = "content">{{ politician.politicalOrientation }}</td>
                    </tr>
                </table>
                
            </div>
        </div>
        <div class ="table-of-contents">
            <div class="title">목차</div>
            <div class="content">
                <span class = "large-number">1. 개요</span>
                <span class = "large-number">2. 경력</span>
                <span class = "large-number">3. 과거 공약/이행률</span>
                <span class = "large-number">4. 발의 법률안</span>
                <span class = "large-number">5. 찬성/반대 법안</span>
                <span class = "small-number">5.1. 찬성 법안</span>
                <span class = "small-number">5.2. 반대 법안</span>
                <span class = "large-number">6. 발언 및 논란</span>
                
            </div>
        </div>    
    </div>



    <div class="demo-card-wide mdl-card mdl-shadow--2dp normal-feed">
        <div class="mdl-card__title">
           1. 개요
        </div>
        
        <div class="mdl-card__supporting-text">
           
        </div>
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp normal-feed">
        <div class="mdl-card__title">
           2. 경력
        </div>
        
        <div class="mdl-card__supporting-text">
           
        </div>
    </div>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp normal-feed">
        <div class="mdl-card__title">
           3. 과거 공약/이행률
        </div>
        
        <div class="mdl-card__supporting-text">
           
        </div>
    </div>
    
{% endblock content %}