{% extends 'base.html' %}


{% block content %}
    
    {% comment %} 국회의원 페이지 상단 파트 {% endcomment %}
    <div class="middle-header">
        {% comment %} 국회의원 프로필 카드 {% endcomment %}
        <div class="demo-card-wide mdl-card mdl-shadow--2dp profile">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ politician.hg_name }}</h2>
            </div>

            <div class ="mdl-card__photo">
                {% if  politician.photo %}
                    <img src="{{ politician.photo.url }}"  alt="" width="100%" height="100%">
                {% else %}
                    <form enctype="multipart/form-data" action="/feeds/politician/{{ politician.id }}/insert-photo/" method="POST">
                        {% csrf_token %}
                        <p>사진 추가하기</p>
                        <input name="photo" type="file"/> <br />
                        <input type="submit" value="submit" />
                    </form>
                {% endif %}            
            </div>
            
            <div class="mdl-card__supporting-text">
                <table>
                    <tr>
                        <td class = "category">나이</td>
                        <td class = "content">{{ politician.age }}</td>
                    </tr>
                    <tr>
                        <td class = "category">성별</td>
                        <td class = "content">{{ politician.gender }}</td>
                    </tr>
                    <tr>
                        <td class = "category">지역구</td>
                        <td class = "content">{{ politician.district }}</td>
                    </tr>
                    <tr>
                        <td class = "category">소속당</td>
                        <td class = "content">{{ politician.politicalParty }}</td>
                    </tr>
                    <tr>
                        <td class = "category">소속 위원회</td>
                        <td class = "content">{{ politician.politicalCommittee }}</td>
                    </tr>
                    <tr>
                        <td class = "category">의원선수</td>
                        <td class = "content">{{ politician.electedCount }}</td>
                    </tr>
                    <tr>
                        <td class = "category">성향</td>
                        <td class = "content">
                            {% comment %} 투표 결과 표시하기 점수 {% endcomment %}
                            <span>{{ politician.politicalOrientation }}</span>
                            <span>{{ politician.orientation_vote_users.count }} 명 참여</span>
                            {% if user in politician.orientation_vote_users.all %}
                                <a href="/feeds/politician/{{ politician.id }}/orientationVote/cancel/">투표취소</a>
                            {% else%}
                                <div class = "popup">
                                    <span>투표하기</span>
                                </div>
                            {% endif %}    
                        </td>
                    </tr>
                    <tr id="test" style="display:none; background-color:black;">
                        
                        <td class = "vote">
                            <a href="/feeds/politician/{{ politician.id }}/orientationVote/0/">-5</a>
                            <a href="/feeds/politician/{{ politician.id }}/orientationVote/1/">-4</a>
                            <a href="/feeds/politician/{{ politician.id }}/orientationVote/2/">-3</a>
                            <a href="/feeds/politician/{{ politician.id }}/orientationVote/3/">-2</a>
                            <a href="/feeds/politician/{{ politician.id }}/orientationVote/4/">-1</a>
                            <a href="/feeds/politician/{{ politician.id }}/orientationVote/5/">0</a>
                            <a href="/feeds/politician/{{ politician.id }}/orientationVote/6/">1</a>
                            <a href="/feeds/politician/{{ politician.id }}/orientationVote/7/">2</a>
                            <a href="/feeds/politician/{{ politician.id }}/orientationVote/8/">3</a>
                            <a href="/feeds/politician/{{ politician.id }}/orientationVote/9/">4</a>
                            <a href="/feeds/politician/{{ politician.id }}/orientationVote/10/">5</a>
                            
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>

        {% comment %} 국회의원 페이지 목차 {% endcomment %}
        <div class ="table-of-contents">
            <div class="title">목차</div>
            <div class="content">
                <a class = "large-number scroll-down" data-id = "1">1. 개요</a>
                <a class = "large-number scroll-down" data-id = "2">2. 경력</a>
                <a class = "large-number scroll-down" data-id = "3">3. 과거 공약/이행률</a>
                <a class = "large-number scroll-down" data-id = "4">4. 발의 법률안</a>
                <a class = "large-number scroll-down" data-id = "5">5. 찬성/반대 법안</a>
                <a class = "small-number scroll-down" data-id = "6">5.1. 찬성 법안</a>
                <a class = "small-number scroll-down" data-id = "7">5.2. 반대 법안</a>
                <a class = "large-number scroll-down" data-id = "8">6. 발언 및 논란</a>
                
            </div>
        </div>    
    </div>
    {% if user.is_superuser %}
    <h5>
        <a href = "/feeds/politician/{{ politician.id }}/normalfeed/new/">normalFeed 추가하기</a>
    </h5>
    {% endif %}
    {% comment %} normal Feed 보여주는 part {% endcomment %}
    {%for normalFeed in normalFeeds|dictsort:"title"%}
        <div class="demo-card-wide mdl-card mdl-shadow--2dp normal-feed" id ="normalFeed">
            <div class="mdl-card__title">
                <h2>{{ normalFeed.title }}.{{ normalFeed.get_title_display }}</h2>

                <a href="/feeds/politician/{{ politician.id }}/normalfeed/{{ normalFeed.id }}/like/" 
                   class = "material-icons mdl-badge normalFeed-Like"  
                   data-pid={{ politician.id }} 
                   data-nfid={{ normalFeed.id }} 
                   data-csrfmiddlewaretoken="{{ csrf_token }}"
                   data-badge="{{ normalFeed.like_users.count }}">LIKE</a>

                <a href="/feeds/politician/{{ politician.id }}/normalfeed/{{ normalFeed.id }}/dislike/" 
                   class = "material-icons mdl-badge normalFeed-Dislike"  
                   data-pid={{ politician.id }} 
                   data-nfid={{ normalFeed.id }}
                   data-csrfmiddlewaretoken="{{ csrf_token }}" 
                   data-badge="{{ normalFeed.dislike_users.count }}">DISLIKE</a>

                <a href="/feeds/politician/{{ politician.id }}/normalfeed/{{ normalFeed.id }}/debate/">해당 내용에 대한 토론방</a>
                
                <button class="mdl-button mdl-js-button mdl-button--icon normalFeed-edit">
                    <i class="material-icons">edit</i>
                </button>
                
            </div>
            <div class="normal-feed__supporting-text">
                {% comment %} 발의 법률안이면 {% endcomment %}
                {% if normalFeed.title == '4' %}   
                    {% for law in laws %}
                        <div class="law-wrapper" style="border: solid 1px #dbdbdb;">
                            <h4>{{ law.bill_name }}</h4>
                            <h5>대표 발의자 : {{ law.proposer.hg_name }}</h5>
                            <h6>발의된 날짜 : {{ law.propose_dt }}</h6>
                            <h6>발의한 위원회 : {{ law.committee }}</h6>
                            <h6>법안 상세 정보 : {{ law.detail_link }}</h6>
                            <h6>발의자 명단 : {{ law.member_link }}</h6>
                        </div>
                        <div class = "like-wrapper">
                            <a href="/feeds/politician/{{ politician.id }}/law/{{ law.id }}/like/"    
                                class = "material-icons mdl-badge law-Like"     
                                data-pid={{ politician.id }} 
                                data-lid={{ law.id }} 
                                data-csrfmiddlewaretoken="{{ csrf_token }}" 
                                data-badge="{{ law.like_users.count }}">LIKES</a>
                                
                            <a href="/feeds/politician/{{ politician.id }}/law/{{ law.id }}/dislike/" 
                                class = "material-icons mdl-badge law-Dislike"  
                                data-pid={{ politician.id }} 
                                data-lid={{ law.id }} 
                                data-csrfmiddlewaretoken="{{ csrf_token }}" 
                                data-badge="{{ law.dislike_users.count }}">DISLIKES</a>
                        </div>
                    {% endfor %}
                {% else %}
                    
                    <h3> {{ normalFeed.content }}
                    <form action=                 "/feeds/politician/{{ politician.id }}/normalfeed/{{ normalFeed.id }}/edit/" 
                        method=                   "POST" 
                        class=                    "normalFeed-edit-form" 
                        data-pid=                 "{{ politician.id }}" 
                        data-nfid=                "{{ normalFeed.id }}"
                        data-csrfmiddlewaretoken= "{{ csrf_token }}"
                        style= "display:none;">
                        {% csrf_token %}
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" name="content" value="{{ normalFeed.content }}">
                            <button  type="submit" class="mdl-button mdl-js-button mdl-button--icon">
                                <i class="material-icons">send</i>
                            </button>
                        </div>
                    </form>
                    {% if user.is_superuser %}
                        <h5>
                            <a href = "/feeds/politician/{{ politician.id }}/normalfeed/{{ normalFeed.id }}/smallfeed/new/">smallFeed 추가하기</a>
                        </h5>
                    {% endif %}
                    {% for smallFeed in smallFeeds %}
                        {% if smallFeed.normalFeed == normalFeed %}   
                            {% comment %} forloop.counter shibalalalalalalalalal {% endcomment %}
                            <div class = "mdl-card__title">
                                <h4>{{ normalFeed.title }}.{{ forloop.counter }} {{ smallFeed.title }}</h4>
                                <a href="/feeds/politician/{{ politician.id }}/normalfeed/{{ normalFeed.id }}/smallfeed/{{ smallFeed.id }}/like/"    
                                class = "material-icons mdl-badge smallFeed-Like"     
                                data-pid={{ politician.id }} 
                                data-nfid={{ normalFeed.id }} 
                                data-sfid={{ smallFeed.id }} 
                                data-csrfmiddlewaretoken="{{ csrf_token }}" 
                                data-badge="{{ smallFeed.like_users.count }}">LIKES</a>
                                
                                <a href="/feeds/politician/{{ politician.id }}/normalfeed/{{ normalFeed.id }}/smallfeed/{{ smallFeed.id }}/dislike/" 
                                class = "material-icons mdl-badge smallFeed-Dislike"  
                                data-pid={{ politician.id }} 
                                data-nfid={{ normalFeed.id }} 
                                data-sfid={{ smallFeed.id }} 
                                data-csrfmiddlewaretoken="{{ csrf_token }}" 
                                data-badge="{{ smallFeed.dislike_users.count }}">DISLIKES</a>
                                {% comment %} smallfeed는 어떻게 sort할까 {% endcomment %}       
                                <button class="mdl-button mdl-js-button mdl-button--icon smallFeed-edit">
                                    <i class="material-icons">edit</i>
                                </button>
                            </div>
                            <div class="small-feed__supporting-text">
                                <h5>{{ smallFeed.content }}</h5>
                                <form action=                 "/feeds/politician/{{ politician.id }}/normalfeed/{{ normalFeed.id }}/smallfeed/{{ smallFeed.id }}/edit/" 
                                    method=                   "POST" 
                                    class=                    "smallFeed-edit-form" 
                                    data-pid=                 "{{ politician.id }}" 
                                    data-nfid=                "{{ normalFeed.id }}"
                                    data-sfid=                "{{ smallFeed.id  }}"
                                    data-csrfmiddlewaretoken= "{{ csrf_token }}"
                                    style= "display:none;">
                                    {% csrf_token %}
                                    <div class="mdl-textfield mdl-js-textfield">
                                        <input class="mdl-textfield__input" type="text" name="content" value="{{ smallFeed.content }}">
                                        <button  type="submit" class="mdl-button mdl-js-button mdl-button--icon">
                                            <i class="material-icons">send</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                    {% endfor %}
                 
                {% endif%} 
            </div>

            
        </div>
    {% endfor %}
    
{% endblock content %}